<div id="<%= dom_id friendspass %>">
  <p>
    <strong>First name:</strong>
    <%= friendspass.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= friendspass.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friendspass.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friendspass.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= friendspass.twitter %>
  </p>

</div>
