<tr id="<%= dom_id friendspass %>">
  <td><%= friendspass.first_name %></td>
  <td><%= friendspass.last_name %></td>
  <td><%= friendspass.email %></td>
  <td><%= friendspass.phone %></td>
  <td><%= friendspass.twitter %></td>
  <td><%= friendspass.user_id %></td>
  <td><%= link_to "Show", friendspass %></td>
  <td><%= link_to "Edit", edit_friendspass_path(friendspass) %></td>
  <td><%= link_to "Delete", @friendspass, method: :delete, data: {confirm: "Are you sure? "} %></td>
</tr>